body {
  background-color: rgb(253, 255, 243);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

h1 {
  font-size: 1em;
}

p {
  font-size: 0.8em;
  font-weight: bolder;
  transition-property: all;
  transition-duration: 0.5s;
}

.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.6, 1, 0.1, 1);
}
.top_item {
  border-top: 0.15em solid rgb(126, 202, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  color: rgb(37, 91, 191);
  cursor: pointer;
}

.icon {
  margin-left: 1em;
  display: none;
  width: 1em;
  height: 1em;
  fill:rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
}

.box:hover .meme {
  width: 40%;
  margin-bottom: 1.5em;
}

.box:hover .icon {
  transform: rotate(45deg);
  transition-property: all;
  transition-duration: 0.2s;
}

.container:hover .icon {
  display: block;
}

.input {
  display: none;
}

.input:checked ~ * .meme {
  width: 40%;
  margin-bottom: 1.5em;
}

.input:checked ~ * .icon {
  transform: rotate(45deg);
}

.input:checked ~ * p {
  color: black;
}
.box:active p {
  color:rgb(37, 91, 191)
}
.box:active {
  filter: contrast(70%) brightness(130%);
  
}
.box:active .icon {
  fill: rgb(37, 91, 191);
}

@media (hover: hover) {
  .container:hover .box {
    color: black;
    transition: 1s;
  }
}

@media (hover: none) {
  .icon {
    display: block;
    fill: rgb(37, 91, 191);
  }
  .input:checked ~ * .icon {
    fill: black;
  }
}

@media (min-width: 321px) {
  .icon {
    width: 1em;
    height: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

@media (min-width: 821px) {
  .icon {
    width: 1.6em;
    height: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  } 
}

@media (min-width: 1900px) {
  .container {
    width: 50vw;
  }
  h1 {
    font-size: 2.2em;
  }
  p {
    font-size: 2em;
  } 
}